<h1>Word Count</h1>
<form action="/result">
  <div class="form-group">
    <label for="input">Enter Input String
    </label>
    <input id="input" name="input" class="form-control" type="password" size="1">
    <label for="key">Enter Search Key
    </label>
    <input id="key" name="key" class="form-control" type="password" size="1">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
