<h1>Word Count</h1>
<form action="/result">
  <div class="form-group">
    <input id="input" name="input" class="form-control" type="text" placeholder="Your String" autofocus="autofocus" required>
    <p></p>
    <input id="key" name="key" class="form-control" type="text" placeholder="Your Search Key">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
