<h2><span class="result">Your String:</span></h2>
<h2><span class="input"><%= @input %></span></h2>
<h2><span class="result">Your Key:</span></h2>
<h2><span class="input"><%= @key %></span></h2>
<h2><span class="result">Number of Occurrences:</span></h2>
<h2><span class="output"><%= @result %></span></h2>

<a href="/" class="btn btn-success">Return</a>
