body {
  background-image: url(https://images.unsplash.com/photo-1438216983993-cdcd7dea84ce?q=80&fm=jpg&s=4141165d8e8eed56b8d9012740c4b503);
  background-repeat: no-repeat;
  background-size: cover;
}

.result {
  color: rgba(90,90,90,0.7);
}

.input, .output {
  color: black;
}
